.content {
    padding: 16px;
    
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.content > mat-card {
    width: 200px;
    background-color: lawngreen;
}
.example-chip-list {
    width: 100%;
  }
  
  .example-button-container > button {
    margin: 0 12px;
  }
.example-ripple-container {
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  /** Styles to make the demo look better. */
  .example-ripple-checkbox {
    margin: 6px 12px 6px 0;
  }
  
  .example-ripple-form-field {
    margin: 0 12px 0 0;
  }